n8n/SIMPLE-PICKS-WORKFLOW.json
{
  "name": "DailyAI Betting - Simple Picks Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 8 },
            { "triggerAtHour": 12 },
            { "triggerAtHour": 16 },
            { "triggerAtHour": 20 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "4x Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 500]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"sites\":[{\"name\":\"BetFirm\",\"url\":\"https://www.betfirm.com/free-sports-picks/\",\"parser\":\"betfirm\"},{\"name\":\"BoydsBets\",\"url\":\"https://www.boydsbets.com/free-sports-picks/\",\"parser\":\"boydsbets\"},{\"name\":\"Covers\",\"url\":\"https://www.covers.com/picks\",\"parser\":\"covers\"},{\"name\":\"Pickswise\",\"url\":\"https://www.pickswise.com/picks/\",\"parser\":\"pickswise\"}]}",
        "options": {}
      },
      "id": "site-config",
      "name": "Working Sites Only",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [350, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sites",
        "options": {}
      },
      "id": "split-sites",
      "name": "Split Sites",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [550, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        },
        "continueOnFail": true
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "jsCode": "// SIMPLE BETFIRM/BOYDSBETS PARSER\n// These sites use a table format that's easy to parse\n\nconst html = $json.data || '';\nconst siteName = $json.name || 'Unknown';\nconst parser = $json.parser || '';\n\n// Get today's date in NY timezone\nfunction todayNY() {\n  const opts = { timeZone: 'America/New_York', year: 'numeric', month: '2-digit', day: '2-digit' };\n  const parts = new Intl.DateTimeFormat('en-CA', opts).formatToParts(new Date());\n  return `${parts.find(p => p.type === 'year').value}-${parts.find(p => p.type === 'month').value}-${parts.find(p => p.type === 'day').value}`;\n}\n\nconst runDate = todayNY();\nconst picks = [];\n\n// Clean text helper\nfunction clean(s) { return (s || '').replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim(); }\n\n// BETFIRM / BOYDSBETS PARSER\n// Format: Table with Service | Sport | Pick columns\nif (parser === 'betfirm' || parser === 'boydsbets') {\n  const tableMatch = html.match(/<table[^>]*affliatetable[^>]*>([\\s\\S]*?)<\\/table>/i);\n  if (tableMatch) {\n    const rowRe = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n    let match;\n    while ((match = rowRe.exec(tableMatch[1])) !== null) {\n      const cells = [...match[1].matchAll(/<td[^>]*>([\\s\\S]*?)<\\/td>/gi)];\n      if (cells.length >= 3) {\n        const service = clean(cells[0][1]);\n        const sport = clean(cells[1][1]);\n        const pick = clean(cells[2][1]);\n        \n        if (service && sport && pick && !service.match(/^(Service|Expert|Capper)$/i)) {\n          picks.push({\n            Site: siteName,\n            League: sport.toUpperCase(),\n            Date: 'TODAY',\n            Matchup: '',\n            Service: service,\n            Pick: pick,\n            RunDate: runDate\n          });\n        }\n      }\n    }\n  }\n}\n\n// COVERS PARSER\n// Look for pick cards/articles\nif (parser === 'covers') {\n  const pickRe = /(?:Over|Under)\\s[\\d.]+(?:\\s[+\\-]\\d+)?|[A-Z][A-Za-z .''-]+?\\s[+\\-]\\d+(?:\\.\\d+)?/g;\n  const parts = html.split(/<article[^>]*>|<\\/article>/i);\n  \n  for (const p of parts) {\n    const pickMatches = p.match(pickRe) || [];\n    if (pickMatches.length === 0) continue;\n    \n    // Try to find author\n    let service = 'Covers';\n    const authorMatch = p.match(/By\\s+([A-Z][A-Za-z .''-]+)/i);\n    if (authorMatch) service = clean(authorMatch[1]);\n    \n    for (const pick of pickMatches.slice(0, 2)) {\n      picks.push({\n        Site: siteName,\n        League: 'ALL',\n        Date: 'TODAY',\n        Matchup: '',\n        Service: service,\n        Pick: clean(pick),\n        RunDate: runDate\n      });\n    }\n  }\n}\n\n// PICKSWISE PARSER\nif (parser === 'pickswise') {\n  const pickRe = /Pick:\\s*([^<\\n]+)/gi;\n  let match;\n  while ((match = pickRe.exec(html)) !== null) {\n    const pick = clean(match[1]);\n    if (pick) {\n      picks.push({\n        Site: siteName,\n        League: 'ALL',\n        Date: 'TODAY',\n        Matchup: '',\n        Service: 'Pickswise',\n        Pick: pick,\n        RunDate: runDate\n      });\n    }\n  }\n}\n\nconsole.log(`${siteName}: Found ${picks.length} picks`);\n\nreturn picks.map(p => ({ json: p }));"
      },
      "id": "parse-picks",
      "name": "Parse Picks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 400]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-all",
      "name": "Aggregate All Picks",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1150, 400]
    },
    {
      "parameters": {
        "jsCode": "// DEDUPLICATE PICKS\nconst allPicks = $input.first().json.data || [];\nconst seen = new Set();\nconst deduped = [];\n\nfor (const pick of allPicks) {\n  const key = `${pick.Service}|${pick.Pick}`.toLowerCase();\n  if (!seen.has(key)) {\n    seen.add(key);\n    deduped.push(pick);\n  }\n}\n\nconsole.log(`Deduped: ${allPicks.length} → ${deduped.length} picks`);\n\nreturn deduped.map(p => ({ json: p }));"
      },
      "id": "dedupe",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-picks",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-picks",
      "name": "Has Picks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dZe1s-yLHYvrLQEAlP0gGCVAFNbH433lV82iHzp-_BI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AllPicks",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Site": "={{ $json.Site }}",
            "League": "={{ $json.League }}",
            "Date": "={{ $json.Date }}",
            "Matchup": "={{ $json.Matchup }}",
            "Service": "={{ $json.Service }}",
            "Pick": "={{ $json.Pick }}",
            "RunDate": "={{ $json.RunDate }}"
          }
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1750, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "4x Daily Schedule": {
      "main": [[{ "node": "Working Sites Only", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Working Sites Only", "type": "main", "index": 0 }]]
    },
    "Working Sites Only": {
      "main": [[{ "node": "Split Sites", "type": "main", "index": 0 }]]
    },
    "Split Sites": {
      "main": [[{ "node": "Fetch Page", "type": "main", "index": 0 }]]
    },
    "Fetch Page": {
      "main": [[{ "node": "Parse Picks", "type": "main", "index": 0 }]]
    },
    "Parse Picks": {
      "main": [[{ "node": "Aggregate All Picks", "type": "main", "index": 0 }]]
    },
    "Aggregate All Picks": {
      "main": [[{ "node": "Deduplicate", "type": "main", "index": 0 }]]
    },
    "Deduplicate": {
      "main": [[{ "node": "Has Picks?", "type": "main", "index": 0 }]]
    },
    "Has Picks?": {
      "main": [
        [{ "node": "Save to Google Sheets", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
